.navbar-brand {
  position: relative;
  display: flex;
  align-items: center;
}

.highlight {
  color: #1a9a9b;
  font-weight: bold;
}

.navbar-brand>span {
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.5s ease-in-out;
  position: absolute;
  left: 90px;
  transform: translateX(-20px);
}

.navbar-brand img {
  transition: transform 0.3s ease-in-out;
}

.navbar-brand:hover img {
  transform: scale(1.1);
}

.navbar-brand:hover>span {
  opacity: 1;
  transform: translateX(0);
}

.nav-link:not(.active):hover {
  cursor: pointer;
  color: #178a8a !important;
  text-decoration: none;
}

.sticky-nav {
  position: fixed;
  top: 0;
  z-index: 1020;
  color: black;
  width: 100%;
  box-shadow: 2px 4px 12px #00000014;
  background-color: rgba(255, 255, 255, 0.418) !important;
  backdrop-filter: blur(10px);
  background: linear-gradient(135deg,
      rgba(167, 144, 247, 0.5),
      rgba(31, 214, 214, 0.5));
  transition: background 0.3s ease;
}

.card {
  box-shadow: 2px 4px 12px #00000014;
  border: transparent;
}

.img-hero {
  box-shadow: 2px 4px 12px #00000014;
}

.card-modern {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card-modern:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.icon-modern {
  width: 80px;
  height: 80px;
}

p {
  font-family: "Poppins", sans-serif;
  color: #333;
}

@media (max-width: 768px) {
  .card-modern {
    margin-bottom: 20px;
    padding: 20px;
  }

  .icon-modern {
    width: 60px;
    height: 60px;
  }

  p {
    font-size: 14px;
  }
}



.dropdown-menu {
  display: none;
}

.dropdown-menu.show {
  display: block;
}

.nav-item:hover .dropdown-menu {
  display: block;
}

@media (max-width: 992px) {
  .dropdown-menu {
    display: block;
    background: transparent;
    border: transparent;
  }

}

.navbar-toggler-icon {
  background-image: url('./../asset/menu-burger-black.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 1.5em;
  height: 1.5em;
}


.navbar-toggler-icon:hover {
  background-image: url('./../asset/close.svg');
}

.navbar-toggler:focus {
  box-shadow: none;

}

.animate-on-scroll {
  opacity: 0;
  transform: translateY(30px);
}


@media (min-width: 832px) {

  .abs {
    position: absolute;
  }
  
  .rectangle {
    position: relative;
    box-shadow: rgba(181, 254, 254, 0.3) 0px 7px 29px 0px;
    background-color: rgba(255, 255, 255, 0.418) !important;
    backdrop-filter: blur(10px);
    background: linear-gradient(135deg,
        rgba(167, 144, 247, 0.5),
        rgba(31, 214, 214, 0.5));
  }
  
  .colored-grd-rectangle {
    top: 10rem;
    left: 17rem;
    width: 9rem;
    height: 1.5rem;
  }
  
  .colored-rectangle {
    top: 16rem;
    left: 12rem;
    width: 5rem;
    height: 1rem;
  }
  
  .colored-petit-rectangle {
    top: 17rem;
    left: 18rem;
    width: 2rem;
    height: 0.5rem;
  }
  

}
