.spacer {
    background-color: #000000;
    opacity: 0.8;
    background-image: linear-gradient(to right, #d6d6d6, #d6d6d6 6px, #000000 6px, #000000);
    background-size: 12px 100%;
}

.navbar-brand {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .navbar-brand > span {
    opacity: 0; /* Le texte est caché par défaut */
    transition: opacity 0.3s ease-in-out, transform 0.5s ease-in-out;
    position: absolute;
    left: 90px; /* Positionne le texte à droite de l'image */
    transform: translateX(-20px); /* Décale légèrement le texte vers la gauche */
  }
  
  .navbar-brand img {
    transition: transform 0.3s ease-in-out;
  }
  
  .navbar-brand:hover img {
    transform: scale(1.1); /* Agrandit légèrement l'image au survol */
  }
  
  .navbar-brand:hover > span {
    opacity: 1; /* Fait apparaître le texte au survol de l'image */
    transform: translateX(0); /* Le texte se déplace doucement dans sa position initiale */
  }
  
  .nav-link:not(.active):hover {
    cursor: pointer;
    color: #a790f7;
    text-decoration: none;
  }