.vignette-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.custom-blur-modal::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(6px); 
  z-index: -1; 
  background-color: rgba(
    255,
    255,
    255,
    0.273
  ) !important; 
}

.custom-blur-modal {
  background-color: transparent;
}

.navbar-brand {
  position: relative;
  display: flex;
  align-items: center;
}

.navbar-brand > span {
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.5s ease-in-out;
  position: absolute;
  left: 90px;
  transform: translateX(-20px);
}

.navbar-brand img {
  transition: transform 0.3s ease-in-out;
}

.navbar-brand:hover img {
  transform: scale(1.1);
}

.navbar-brand:hover > span {
  opacity: 1;
  transform: translateX(0);
}

.nav-link:not(.active):hover {
    cursor: pointer;
    color:  #a790f7 !important;
    text-decoration: none;
}

.sticky-nav {
  position: fixed; 
  top: 0;
  z-index: 1020; 
  color: black;
  width: 100%; 
  box-shadow: 2px 4px 12px #00000014;
  background-color: rgba(255, 255, 255, 0.418) !important; 
  backdrop-filter: blur(10px); 
  background: linear-gradient(135deg, rgba(167, 144, 247, 0.5), rgba(31, 214, 214, 0.5)); 
  transition: background 0.3s ease;
}

.card{
  box-shadow: 2px 4px 12px #00000014;
  border: transparent;
}


.carousel-img {
  max-height: 600px;
  object-fit: cover;
}


.highlight {
  color: #1a9a9b;
  font-weight: bold;
}