.vignette-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

/* Custom blur for the modal backdrop */
.custom-blur-modal::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(6px); /* Adjust the blur amount */
  z-index: -1; /* Ensures the backdrop is behind the modal */
  background-color: rgba(
    255,
    255,
    255,
    0.273
  ) !important; /* Adds a semi-transparent overlay */
}

.custom-blur-modal {
  background-color: transparent;
}

.navbar-brand {
  position: relative;
  display: flex;
  align-items: center;
}

.navbar-brand > span {
  opacity: 0; 
  transition: opacity 0.3s ease-in-out, transform 0.5s ease-in-out;
  position: absolute;
  left: 90px; 
  transform: translateX(-20px); 
}

.navbar-brand img {
  transition: transform 0.3s ease-in-out;
}

.navbar-brand:hover img {
  transform: scale(1.1); 
}

.navbar-brand:hover > span {
  opacity: 1; 
  transform: translateX(
    0
  ); 
}
.nav-link:not(.active):hover {
  cursor: pointer;
  color: #1fd6d6 !important;
  text-decoration: none;
}

.card{
  box-shadow: 2px 4px 12px #00000014;
  border: transparent;
}


.sticky-nav {
  position: fixed; 
  top: 0;
  z-index: 1020; 
  color: black;
  width: 100%; 
  box-shadow: 2px 4px 12px #00000014;
  background-color: rgba(255, 255, 255, 0.418) !important; 
  backdrop-filter: blur(10px); 
  background: linear-gradient(135deg,  rgba(31, 214, 214, 0.5), rgba(167, 144, 247, 0.5)); 
  transition: background 0.3s ease;
}

.highlight {
  color: #1a9a9b;
  font-weight: bold;
}

.dropdown-menu {
  display: none; 
}

.dropdown-menu.show {
  display: block; 
}

.nav-item:hover .dropdown-menu {
  display: block; 
}

@media (max-width: 992px) {
  .dropdown-menu{
    display: block; 
    background: transparent;
    border: transparent;
  }
}

.navbar-toggler-icon {
  background-image: url('./../../asset/menu-burger-black.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 1.5em;
  height: 1.5em;
}


.navbar-toggler-icon:hover {
  background-image:  url('./../../asset/close.svg');
}

.navbar-toggler:focus {
  box-shadow: none;
  
}

.animate-on-scroll {
  opacity: 0; 
  transform: translateY(30px); 
}
.visible {
  opacity: 1;
  transform: translateY(0);
}

